<!-- <h1>Hi</h1>
 <script>
	var request = new XMLHttpRequest();
	var jsonStr = JSON.stringify(jsonVar);
	/* request.open("GET", "http://api.tripadvisor.com/api/partner/2.0/map/42.33141,-71.099396?key=HackTripAdvisor-ade29ff43aed", false); */
	request.send();
	console.log(request.status);
	console.log(request.statusText);
	console.log(request);
</script> -->

<script>
window.open("http://api.tripadvisor.com/api/partner/2.0/map/42.33141,-71.099396?key=HackTripAdvisor-ade29ff43aed", "_self");
</script>